body{
    background: rgb(34, 195, 141);
    background: linear-gradient(rgb(34, 193, 195), rgb(86, 119, 21));
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(rgb(96, 150, 211),rgb(145, 202, 99));
}


#form{
    position: absolute;
    top:2rem; left:2rem;
    width: 30rem;
    box-shadow: 0rem 0.2rem 0.7rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    background: #bac34e;
}

h1{
    text-align: center;
    color: rgb(34,193,195) ;
}

#form button{
    background-color: #349d8e;
    color:rgb(255, 255, 255);
    border: 1px solid #792099;
    border-radius: .5rem;
    padding:10px;
    margin:7rem 01rem;
    cursor:pointer;
    font-size:7rem;
    width:5rem;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.input-group input{
    border-radius: 5px;
    font-size:1.7rem;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:1.7rem;
    margin-top: 2rem;
}

.input-group.success input{   /*will be accesed through js*/
    border-width: 1.7rem;
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
    color:rgb(206, 67, 67) ;
}

.input-group.warn input{
    border-color:rgb(204, 206, 67);
}