table{
    border: 10px solid black;
    width: 700px;
    height: 700px;
    margin: auto;
    border-collapse: collapse;
    padding: 20px; 
    /* border-spacing: 20px; */

}
tr,td,th{
    height: 50px;
    width: 70px;
    border: 1px solid black;
    padding: 20px;
} 
li{
height: 35px;
width: 35px;
}
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
background:rgb(1, 100, 1);
}
/* tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
background:#864b1e;
} */
.coin {
    font-size: 40px;
    text-align: center;

}
