

p{
    margin-left: 5px;
    /* height: 340px; */
    text-align: justify;
    padding: 10px;
    
}

#p1{
    background-color: aquamarine;
    flex: 1;
    order: 3;
}

#p2{
    background-color: lightgreen;
    flex: 4;
    order: 1;
}

#p3{
    background-color: lightcoral;
    flex: 2;
}
.container{
    display: flex;
}

.container2{
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    /* flex-direction: column; */
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    background-color: brown;
    border: 2px solid aquamarine;
    /* flex: 2 1 0px ; */
}
.box1{
    flex-grow: 1;
    /* flex-basis: 0px; */
    flex-shrink: 10;
    background-color: red;
}