.box{
    width: 150px;
    height: 150px;
    background-color: saddlebrown;
    margin: 120px auto;
    /* transition-duration: 0.5s;
    transition-delay: 0.25s;
    transition-property: width background-color;
    transition-timing-function: ease-in; */
    transition: 0.5s 0.25s ease-in-out;
}

.box:hover{
    background-color: blueviolet;
    /* width: 180px;
    height: 180px; */
    /* transform: rotate(90deg); */
    /* transform: rotateY(90deg); */
    /* transform: scale(1); */
    transform: translatex(50px) translateY(50px);
}

.box2{
    width: 10px;
    height: 10px;
    margin: -120px opx;
    background-color: orchid;
    animation-name: box;
    animation-duration: 5s;
}

@keyframes box{
    100%{
        background-color: mediumspringgreen;
        width: 250px;
        height: 250px;

    }

}
.box{
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin:  auto;
    transition-duration: 3s;
    transition-delay: 2s;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition: 3s 1s ease-out;
}

.box:hover{
    background-color: red;
    width: 350px;
    /* transform: rotate(360deg);
    transform: rotateY(90deg);
    transform: rotateX(90deg);
    transform: scale(2); */
    transform: translateY(-250px);
} 

.box{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    animation-name: box;
    animation-duration: 7s;
    border-radius: 50%;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: 10;
     /* animation: none;  */
}
@keyframes box{

    0%{
        background-color: brown;
        width: 50px;
        height: 50px;
    }
     50%{
    background-color: blue;
    width: 150px;
    height: 150px;
    top: 100px;
    left: 300px;
   }
    100%{
        background-color: red;
        width: 250px;
        height: 250px;
        top: 150px;
        left: 350px;
    }
    
    
}