/* body{
    background-color: skyblue;
} */
.para{
    background-color: beige;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content:space-around;
    /* text-align: center; */
    align-items: center;
    
}

.container{
    
    display: grid;
    /*grid-template-columns: repeat(6,1fr);/*replace to 1fr 1fr*/
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px ;
    /* grid-template-rows: 1fr 2fr 3fr 4fr 5fr; */
    /* grid-auto-flow: column; */
}
.para1{
    grid-column: span 4;
}

.para2{
    grid-row: span 3;
}

.layout div{
 border: 2px solid rebeccapurple;
 background-color: blanchedalmond;
 font-size: 32px;
 display: flex;
 justify-content:space-around;
 align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:5vh 80vh 5vh 10vh ;
    grid-template-areas: " h h h h h"
                         "sb1 m m m sb2"
                          "f f f f f";

}
.header{
    grid-area: h;
}
.footer{
    grid-area: f;
}
.sb_1{
    grid-area: sb1;
}
.sb_2{
    grid-area: sb2;
}
.main{
    grid-area: m;
}