body{
    background-color: brown;
}

p{
    margin-left: 50px;
    height: 340px;
    text-align: justify;
    padding: 10px;
}

#p1{
    background-color: aquamarine;
}

#p2{
    background-color: lightgreen;
}

#p3{
    background-color: lightcoral;
}

@media (min-width:900px ){
    .container p{
        width: 23%;
        float: left;
        padding: 10px;
        margin: 10px;
        background-color: aliceblue;
    }
    
}
@media print{
    body{
        background-color: lightslategray;
    }
    
}