.blueBox{
    width: 300px;
    height: 300px;
    background-color: yellow;
    position: sticky;
    top: 0px;
    left: 0px;

}
.redBox{
    width: 200px;
    height: 200px;
    background-color: red;
    position:absolute; 
    top: 10px;
    left: 10px;   
    
}

.greenBox{

width: 50px;
height: 50px;
background-color: green;
position:fixed;   
top: 50px;
left: 0px; 

}
body{
   /* background-image: url('https://wallpapersafari.com/w/lvH8Qg'); */
   background-image: url(img/java-wallpaper.jpg);
   height: 100vh;
   position: sticky;
   imag
}
