.text{
    font-size: 3rem;
    fill: red;

}
.text .text_path{
   text-align: justify;
   text-indent: 10px;
}

#curve{
    fill:transparent;
}

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: grid;
    place-items:center ;
    min-height: 100vh;
}

.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background: red;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    height: 100%;
    position: absolute;
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.2rem;
    transform-origin: 0 100px;
} */