#home{
 display:flex;
}

@media (min-width:1300px ){
    .fb {
        width: 23%;
        float: left;
        padding: 10px;
        margin: 10px;
    }
        
}

.fb p {
    text-align: justify;
}
body{
   background-color: #f0f2f5;
   
}
#title{
    color: #1877f2;
    font-size: 60px;
    font-weight:bold;
}

.welcome{
    font-size: 24px;
    border: 2px solid black;
    /* line-height: 28px; */
    /* width: 350px; */
    /* flex-grow: 1; */
    
}

#details{
    background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
   /* border: 2px solid black; */
  width: 500px;
  height: 400px;
  display: flex;
}

.center{
 padding: 12%;
}

input{
    font-size: 20px;
    color: #1d2129;
    padding: 10px;
    margin: 2px;
    width: 320px;
    height: 30px;
    border-radius: 5px;
}
#login{
    padding: 10px;
    margin: 2px;
    width: 344px;
    height: 54px;
    border-radius: 5px;
    background-color:#1877f2 ;
    font-weight:bold;
    font-size: 25px;
    color: white;
}

#login:hover{
    cursor: pointer;    
}

#forPas{
    padding: 10px;
    margin: 2px;
    width: 344px;
    height: 54px;
    border-radius: 5px;
    background-color: white;
    color: #1877f2;
    font-size: 18px;
    }
#forPas:hover{
    cursor: pointer;    
}

#new{
    height: 54px;
    font-weight:bold;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    margin-left: 45px;
    background-color: #4bad37;;
    color: white;
    border-radius: 5px;
    }

#new:hover{
    cursor: pointer;
    background-color: #36a420;
    border-color: #36a420;
    border-radius: 5px;
}