table{
    width: 400px;
    height: 200px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

thead{
    width: 80px;
    height: 80px;
    background-color: #F4C430;
}
tfoot{
    width: 80px;
    height: 80px;
    background-color: green;
}
img {
    width: 80px;
    height: 80px;
   margin-right: auto;
}
