body{
    background-color: greenyellow;
}

h4{
color: brown;
text-align: center;
}

div{
    margin: 10px;
    margin-left: 25%;
}

.drop{
    margin: 0%;
    padding: px;
    border-width: 2px;
}

#reset{
    margin-left: auto;
    width: 100px; 
    height: 30px;  
    text-align: left; 
    background-color: red;
}

#submit{
    margin-left: auto;
    width: 100px;
    height: 30px;   
    text-align: left; 
    background-color: green;
}