/* body{
    background-image: url(../css/img/wpBitCode.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
} */

body{
    /* color: antiquewhite; */
    font-family: 'Style Script';
    font-size: 20px;


}