.navbar-brand{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    --viewport-width: calc(100vw - var(--scrollbar-width));
    --page-gutter: 28px;
    --header-text: #fff;
    --header-height: 64px;
    --text-light: #909dac;
    --text-light-darktheme: #c3c3c3;
    --grid-gutter: 20px;
    --grid-columns: 12;
    --spacer-grid-mobile: 36px;
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 36px;
    --spacer-5: 48px;
    --spacer-6: 60px;
    --spacer-7: 92px;
    --spacer-8: 136px;
    --spacer-sections: 160px;
    --motion: 1;
    --scrollbar-width: 15px;
    overflow-wrap: break-word;
    color: #e8eaed;
    text-align: center;
    font-size: min(max(60px,11.111vw),160px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.76px;
    x: 0;
    y: 0;
    width: 728;
    height: 187;
    fill: url("#gradient-1");
    mask-image: url("#logo-1");
    -webkit-mask-position-x: initial;
    -webkit-mask-position-y: initial;
    mask-size: initial;
    mask-repeat: initial;
    mask-origin: initial;
    mask-clip: initial;
    mask-composite: initial;
    mask-mode: initial;
    font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
}