#d1{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border:2px solid black;
    position: static; /*its default one*/
    top:20px;
    left:20px;
}

#d2{
    width: 100px;
    height: 100px;
    background-color: blue;
    border:2px solid red;
    position: relative; /*relative to the current position it moves*/
    top:10px;
    left:50%;

}

#d3{
    width: 150px;
    height: 150px;
    background-color: green;
    border:2px solid black;
    position: fixed; /*use screen as frame as default fixes its position*/
    top:50px;
    left:0px;

}

#d4{
    width: 200px;
    height: 200px;
    background-color: gold;
    border:2px solid darkmagenta;
    position: absolute; /**/
    top:500px;
    left:0px;

}

#d5{
    width: 250px;
    height: 250px;
    background-color: ;
    border:2px solid red;
    position: sticky; /* sticks to the screen frame*/
    top:0px;
    bottom: 0px;

}

p{
    /* text-align: center; */
    margin: 35px;
}
