a{
    text-decoration: none;/*none can be used for ancout tag*/
}

a:link{
    color: blue;
}

a:visited{
    color: green;
}
a:hover{
    color: red;
    background-color: yellow;
    font-size: 32px;
}
 a:focus{  
    color: black;
 }
 a:active{
    color: blueviolet;
 } 

 h1{
    border: 1px solid violet;
    /* border-width: ;
    border-style: ;
    border-color: ; */
    padding: 10px 5px;
 }

 p{
    border: 2px solid red;
    width: 400px;
    height: 300px;
    overflow: scroll;
    padding: 20px;
    margin: 50px auto;
    text-align: justify;
    /* box-shadow: -10px -10px 20px mediumorchid, 10px 10px 20px mediumspringgreen; */
    box-shadow:inset -10px -10px 20px mediumorchid, inset 10px 10px 20px mediumspringgreen;
    font-family: 'Smooch Sans';
    font-size: 20px;
 }

 div {
    border: 3px solid blue;
 }
 h1:hover{
    box-shadow: 10px 10px 20px mediumslateblue;
    border-radius: 5px;

 }
 h1:active {
   box-shadow: 2px 2px 10px darkgoldenrod;
 }

 .size{
   border-color:yellow;
   width: fit-content;
   padding: 5px;
   margin: 10px;
   box-shadow: 5px 5px 10px red;
 }