p{
    color: red;

    background-color: skyblue;
    font-size: 20px;
    font-family: 'Dancing Script';
}
#abc{
color: blue;
background-color: red;
}

.para{
color: aqua;
background-color: brown;
}

div h1{
color: magenta;

}
