p{
    font-family: 'Dancing Script';
    font-size: 20px;
   /* font-weight: bold;*/
   text-transform: capitalize;
   text-decoration: underline;/*none can be used for ancout tag*/
   line-height:30px;/*space between lines*/
   letter-spacing:0.5px;/*space between letters*/
   word-spacing:3px;
   text-align: justify;
   text-indent: 7px;
   text-shadow: 10px 10px 1.6px #48c9b0;/*first-left right ,secong-top bottom third blur then coloue(we can also use hex-code)*/
}
p::first-letter{
    font-size: 50px;
}
h1{
    text-align: center;
    text-decoration:underline;
}

h1::first-letter{
    font-size: 70px;
    color: blueviolet;
}

h1::{
    ont-size: 70px;
    color: blueviolet;

}
p::grammar-error{
    color: blue;
}