li{
    /* display: inline;
    padding: 2px;
    border: 2px solid blueviolet; */
    /* list-style-type:armenian;
    list-style-position: outside; */
    list-style: inside square;
}
li:hover{
    border:5px double darkgreen;
}
h1{
    border: 1px solid black;
    border-radius: 5px;
    border-top-left-radius: 20px;
    width: 200px;
    margin: auto;
 } 
 a{
    display:block;
    text-align: right;
 }
#update {
    display: none;
}