table{
    border: 10px solid navy;
    width: 1000px;
    height: 500px;
    margin: auto;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    
    text-align: center;
}
 tr:nth-child(even) td:nth-child(odd){
    background-color: blueviolet;
 }


 