table{
    border: 2px solid black;
    width: 600px;
    height: 300px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

  td{
    border: 2px solid black;
    /* width: 10px; */
    height: 15px;
}  

tr:nth-child(even)
{
   background-color: red;
}
#blue{
    background-color: navy;
    width: 170px;
    height: 170px;
    margin-left:305px ;
}