<html>
<head>
<title>form Demo 2</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="./css/style.css" rel="stylesheet" >
</head>
<body>
	<h3>java</h3>
<table class="table">
  <thead class="table-dark">
   <tr>
   <th>search</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="his:${data}">
  <td th:text="${his.search}"></td>   
 </tr>
  </tbody>
</table>
</body>
</html>

<!-- opean tag </> 'close tag,-->
<!--file:///home/eswar/Documents/git/java/HTML/home.html?User_Name=ususu&Password=24235===><form action="home.html" method= "get">-->
