body{
    background: rgb(34, 195, 141);
    background: linear-gradient(rgb(34, 193, 195), rgb(86, 119, 21));
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(rgb(96, 150, 211),rgb(145, 202, 99));
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding:30px;
}

h1{
    text-align: center;
    color: #5e377b;
}

#form button{
    background-color: #349d8e;
    color:rgb(255, 255, 255);
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group.success input{   /*will be accesed through js*/
    border-width: 5px;
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
    color:rgb(206, 67, 67) ;
}