*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5e8ba;
}

h2{
    color: darkgreen;
}

#msg{
    margin-bottom: 1rem;
}

#gameBoard{
    border: 3px solid;
}

#score{
    margin-top: 1em;
    font-size: 2em;
}