*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 50px 10%;
}
ul{
    list-style: none;

}
.f-col{
    width: 25%;
}
.f-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;

}
.f-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}
ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
} 
ul li a:hover{
    columns: white;
    padding-left:2px ;
}
.links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgba(40, 120,213, 0.8);
    margin: 10px 5px;
    text-align: center;
    line-height: 43px;
    border-radius: 10%;
}
.links a:hover{
    color: #4d4d4d;
    background-color: white;
}

@media (max-width: 740px) {
    .f-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    .f-col h4::before{
        all:unset;

    }
}
@media (max-width: 555px) {
    .f-col{
        width: 100%;
    }
}