/* *{
  overflow-x: hidden;
} */
:root {
  --brand-colour: rgba(0, 91, 74, 0.718);
}

body {
  background-color: rgba(0, 91, 74, 0.718);
  overflow-x: hidden;
}

.center {
  display: flex !important;
  text-align-last: center;
  justify-content: center;
}
.pasHei {
  height: 50px;
}

.pasErr {
  margin-top: -41px;
}

/* .bg {
    padding: 10px;
    background-color: #563d7c26;
    border: 1px solid rgba(86, 61, 124, 0.2);
} */

/* **************** nave bar **************** */

.navbar {
  height: 72px;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.navbar-brand .crop {
  margin-left: 40px;
  width: 90px;
  height: 45px;
  overflow: hidden;
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.navbar-collapse a {
  font-size: 1.3rem;
  cursor: pointer;
}

.menu {
  text-transform: uppercase;
  margin-right: 2rem !important;
}

.login {
  text-transform: capitalize;
}

.navbar-collapse ul li a:hover {
  color: var(--brand-colour) !important;
  /* background-color: palevioletred; */
}

/******************* dropdown *******************/

.dropdown .dropdown-menu {
  top: 100%;
  left: -100px;
}

.headImg{
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.popSide {
  display: none;
}

#innerDrop:hover .popSide {
  display: block;
  position: absolute;
  top: 90px;
  left: -195px;
  width: 200px;
  height: 80px;
  border: solid rgba(0, 0, 0, 0.671) 0.1px;
  background-color: white;
  border-radius: 10px;
  box-shadow: black 10px;
}


.popSide ul {
  list-style-type: none;
  padding: 8px;
}

.popSide li{
  margin-bottom: 10px;
}

.popSide ul a {
  font-size: 15px;
  text-align: left;
  text-decoration: none;
}

#bookDet{
  top: 100%;
  left: -230px;
}

#bookDet tr{
  font-size: small;
}

.appDt{
  width: 105px;
}

.edDel{
  display: flex;
}

.edDel button{
margin-right: 5px;
}
/*********************** bookingDetails ***********************/



/* **************** carousel **************** */

.carousel {
  height: 500px;
}

.carousel img {
  height: 500px;
  /* width: auto !important; */
}

/* **************** grid body **************** */
.crdCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .row .crdCol img {
  height: 300px;
  width: auto;
  overflow: hidden;
}

.card-title {
  padding: 0;
}

/* ***************modal**************** */
/* ***************login modal**************** */
.mr {
  margin-right: 10px;
}

.createAcc {
  padding-left: 1px !important;
}

.form-check-inline label {
  font-size: small;
}

.passHide {
  position: relative;
  bottom: 40px;
  left: 260px;
  width: 40px;
  cursor: pointer;
}

.passHide img {
  width: 20px !important;
  height: 20px !important;
}

/* ***************account modal**************** */
#userLog {
  position: absolute;
  top: 20px;
  right: 0px !important;
}

/* ***************information modal**************** */
.modal-header {
  background-color: var(--brand-colour);
}
.modal-header .welcome {
  margin-left: 17px;
}

/* .modal-header h5{
    margin: 2px;
    border-bottom: 2px solid black;
  } */

.modal-header p {
  /* background-color: rgba(0, 255, 0, 0.425); */
  margin-top: 0; /* Adjust the margin-top as per your design */
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body label {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.modal-body img {
  height: 250px;
  width: auto;
  margin: 10px;
}

.equipBody {
  display: block;
}

.equipBody .equipImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer .row {
  width: 100%;
}

.modal-footer a:hover {
  cursor: pointer;
  color: var(--brand-colour) !important;
}

/* ***************user modal**************** */
.dataVMod {
  display: grid;
}

.userImage img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

/* **************footer************** */

/* Align list items to the left */

.emergency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emergency .txt {
  font-size: medium;
}

h5,
.list-group-item {
  border: none;
  background-color: transparent;
  text-align: center;
  padding-left: 30px;
}

.list-group-item a {
  text-decoration: none;
  color: rgb(56, 41, 34);
}

.list-group-item a:hover {
  color: white;
  text-decoration: underline;
}

/* ************** copy rights************** */
.copy-rights {
  background-color: rgb(113, 113, 161);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .fa-md{
    display: flex;
    justify-content: center;
  } */

.fa-facebook:hover {
  color: #1877f2;
  cursor: pointer;
}

.fa-x-twitter:hover {
  color: white;
  cursor: pointer;
}

.fa-instagram:hover {
  color: rgb(63, 144, 251);
  cursor: pointer;
}

.fa-youtube:hover {
  color: #ff0000;
}

.copy-rights p {
  color: black;
}

/* .copy-rights .contact{
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.copy-rights .contact a {
  color: black;
}

@media (max-width: 1115px) {
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #innerDrop:hover .popSide {
    display: block;
    position: absolute;
    top: 140px;
    left: 20%;
    width: 200px;
    height: 80px;
  }

  .popSide li{
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .modal-body,
  .copy-rights {
    display: grid;
  }
  .MailCont {
    margin-left: 10px;
  }

  .modal-body img {
    height: 200px;
    width: auto;
    margin: 10px;
  }

  .cont {
    margin-left: 1.5rem;
  }
}