@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 

:root{
    --light-color:#666;
    --box-shadow: 0rem 0.2rem 0.7rem rgba(0,0,0,0.1);
    --outline:.2rem solid rgba(0,0,0,0.1);
    --outline-hover:.2rem solid rgba(0,0,0,0.1);
    --brand-color:#bac34e;


}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .3s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    
}
body{
    background: #eee;
}
.btn{
    display: flex;
    margin-top: 1rem;
    display: inline-block;
    padding: 8rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    color: black;
    cursor: pointer;
}
.btn:hover{
    background:var(--brand-color);
    border: .2rem solid black;
    color: white;
}
.header{
position: fixed;
top: 0; left: 0; right:0 ;
z-index: 1000;
display: flex;
justify-content: space-between;
padding: 2rem 9%;
background: #fff;
box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}
.header .logo i{
color:var(--brand-color);
}
header .navbar a{
    /* display: flex;
    list-style: none; */
    font-size: 1.9rem;
    margin: 0.1rem;
    padding: 0.1rem 0.5rem 0.3%;
    color: black;
}
header .navbar a:hover{
    color:var(--brand-color);
}
header .icon div{
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: black;
    font-size: 2rem;
    margin-left: 0.3rem;
    text-align: center;
}


header .icon div:hover{
    background:var(--brand-color);
    color: #fff;
}

.header .icon #menu-btn{
    display: none;
}

header .search-form{
    position: absolute;/*check*/
    top: 110%; right: -110%; /*check*/
    width: 50rem;
    height: 5rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
}

/* .wrapper .box{
    width: 20%;
    height: 50%;
} */

.products .product-slider{
    position: absolute;
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    display: flex;
    background: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem; 
    outline-offset: -1rem;
    outline: var(--outline); 
    box-shadow:var(--box-shadow);
    transition: .2s linear;  
}

.products .product-slider .box:hover{    
    outline-offset: 0rem;
    outline: var(--outline-hover); 
    cursor: pointer;
}

.products .product-slider .box img{
    height: 20rem;
}

.products .product-slider .box h3{
    font-size:2.5rem ;
    color:black;
}

.products .product-slider .box .price{    
    font-size:2.5rem ;
    color:var(--light-color);
    padding: 5rem;    
}

.products .product-slider .box .price{    
    font-size:2.5rem ;
    color:var(--light-color);
    padding: 5rem;    
}

.products .product-slider .box .price{    
    font-size:2.5rem ;
    color:var(--light-color);
    padding: .5rem;    
}

.products .product-slider .box .stars{    
    font-size:1.7rem ;
    color:var(--brand-color);
    padding: 5rem;    
}




/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;        
    }
    .header{
        padding: 2rem;
    }
}
@media (max-width:768px){
    .header .icon #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #bac34e;
    }
    .header .navbar.active{
        right:1rem;
        transition: 0.4s linear;
    }

    header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
       display: block;
        color: black;

    }
    header .navbar a:hover{
        color: white;
        right: 2rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    
        
    }
}