*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root{
    --green : #bac34e ;
    --black : #222 ;
    --white : #fff ;
    --light-color:#666;
    --light-bg:#f3f3f3;
    --border: .1rem solod rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

/* 
@mixin grid($val)
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(${val}, 1fr));
    gap: 1.5rem;
} */

/* @mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{$val}, 1fr));
    gap: 1.5rem;
} */


html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 3rem 9%;
}
.heading{
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;

    h1{
        color: var(--black);
        font-size: 4rem;
    }
    p{
        padding-top: 1rem;
        font-size: 2rem;
        color: var(--light-color);

        a{
            color: var(--black);
            padding-right: .5rem;

            &:hover{
                color: var(--green);
            }
        }
    }
}

.title{ 
    /* not working balck line */
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: var(--border);
    color: var(--black);

    span{
        color: var(--green);
        padding-right: .5rem;
    }
    a{
     margin-left: auto;
     color: var(--light-color);    
     font-size: 1.5rem;
     
     &:hover{
        color: var(--green);
     }
    }
}

/* button line */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: .5rem;

    &:hover{
        background: var(--black);
    }
}
.header
{
    position: fixed;
    top: 0; left: 0;right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .logo
    {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--black);

        i{
            color: var(--green);
            padding-right: .5rem;
        }
    }
/* } */
.navbar
{
    a{
        font-size: 1.7rem;
        color: var(--light-color);
        margin: 0 1rem;

        &:hover{
            color: var(--green);
        }
    }
}

.icons div{
    font-size: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    color: var(--light-color);
    
    &:hover{
        color: var(--green);
    }
}

.search-form
{
    position: absolute;
    top:-115%;right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: var(--box-shadow);
    background: var(--white);

    &.active{
        top: 115%;
    }
    input{
        height: 100%;
        width: 100%;
        padding: 0 1.2rem;
        font-size: 1.6rem;
        color: var(--black);
        text-transform: none;
    }
    label{
        font-size: 2rem;
        margin-right: 1.7rem;
        cursor: pointer;
        color: var(--light-color);
    
        &:hover
        {
            color: var(--green);
        }
    }
   
}

.shopping-cart{
    position: absolute;
    top: 115%; right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;

    &.active{
        right: 2rem;
        transition: .3s linear;
    }

    .box{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;

        .fa-times{
            position: absolute;
            top: 50%;right: 2rem;
            transform: translateY(-50%);
            font-size: 2rem;
            color: var(--light-color);
            cursor: pointer;

            &:hover{
                color: var(--green);
            }
        }
        img{
            height: 10rem;
        }
        .content{
            h3{
                font-size: 1.7rem;
                padding-bottom: .5rem;
                color: var(--black);
            }
            span{
                font-size: 1.5rem;
                color: var(--light-color);

                &.multiply{
                    margin: 0.5rem;

                }
            }
        }
    }
    .total{
        color: var(--light-color);
        text-align: center;
        font-size: 2.2rem;

        span{
            color: var(--black);
        }
    }
    .btn{
        text-align: center;
        width: 100%;
    }
}

.login-form{
    position: absolute;
    top: 115%; right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;

    &.active{
        right: 2rem;
        transition: .3s linear;
    }

    h3{
        color: var(--black);
        text-align: center;
        text-transform: uppercase;
        font-size: 2.2rem;
        margin-bottom: .7rem;
    }
    .box{
        margin: .7rem 0;
        border: var(--border);
        padding: 1rem 1.2rem;
        font-size: 1.5rem;
        color: var(--black);
        text-transform: none;
        width: 100%;
    }
    .remember{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin: .7rem 0;

        label{
            font-size: 1.5rem;
            color: var(--light-color);
            cursor: pointer;
        }
    }
    .btn{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }
    p{
        color: var(--light-color);
        padding-top: .7rem;
        font-size: 1.4rem;

        a{
            color: var(--green);

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
}

#menu-btn
{
    display: none;
}

@keyframes fadeLeft{
    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
}

@keyframes fadeUp{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}
/* home carousel start... */
.home{
    padding-top: 14rem;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .slides-container{

        .slide{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            display: none;

            &.active{
                display: flex;

            }

            .content{
                flex: 1 1 40rem;
                animation: fadeLeft .4s linear .4s backwards;

                span{
                    color: var(--light-color);
                    font-size: 2.5rem;
                }
                h3{
                    font-size: 6rem;
                    color: var(--black);
                    padding: .5rem 0;
                }
            }
            .image{
                flex: 1 1 40rem;
                margin: 3rem 0;
    
                img{
                    width: 100%;
                    animation:  fadeUp .4s linear;
                }
            }
        } 
    }
    #next-slide,#prev-slide{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        box-shadow: var(--box-shadow);
        text-align: center;
        background: var(--white);
        font-size: 2.8rem;
        color: var(--black);
        cursor: pointer;

        &:hover{
            background: var(--green);
            color: var(--white);
        }
    }
    #prev-slide{
        left: 2rem; 
    }
    #next-slide{
        right: 2rem; 
    }
}

/* end carousel design... */

/* banner section */
.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;

    .banner{
        position: relative;
        height: 25rem;
        overflow: hidden;

        &:hover img{
            transform: scale(1.1);
        }
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
    .content{
        position: absolute;
        top: 50%; left: 2rem;
        transform: translateY(-50%);
        
        span{
            color: var(--light-color);
            font-size: 1.5rem;            
        }
        h3{
            font-size: 2rem;
            padding-top: .5rem;
            color: var(--black);
        }
        .btn{
            padding: .8rem 2.5rem;

        }
    }
}

/* end banner section */
/* shop catagories start */
.category .box-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding: 4rem 0;
    .box{
        text-align: center;

        img{
            height: 15rem;
        }
        h3{
            font-size: 2rem;
            margin: auto1rem 0;
            color: var(--light-color);
        }
        &:hover h3{
            color:var(--green);
        }
    }
   
}

/* shop catagories End */

/* product carts start */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

    .box{
        position: relative;
        background: var(--light-bg);
        text-align: center;
        overflow: hidden;

        &:hover .icons{
            top: 0;
        }
        .icons{
            position: absolute;
            top: -105%;left: 0;
            height: 30rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(243, 243, 243, .8);
            gap: 1rem;

            a{
                font-size: 2rem;
                height: 5rem;
                width: 5rem;
                line-height: 5rem;
                background: var(--white);
                box-shadow: var(--box-shadow);
                color: var(--black);

                &:hover{
                    background: var(--green);
                    color: var(--white);
                }
            }
            
        }
        .image{
            height: 30rem;
            width: 100%;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content{
            padding: 1.5rem;

            h3{
                font-size: 2rem;
                color: var(--black);
            }
            .price{
                font-size: 2rem;
                color: var(--black);
                padding: 1rem 0;
            }
            .stars i{
                font-size: 1.7rem;
                color: var(--green);
            }
        }
    }
}
/* product card end */
/* about content */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    
    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }
    .content{
        flex: 1 1 40rem;

        span{
            color: var(--green);
            font-size: 2.5rem;
        }
        h3{
            color: var(--black);
            font-size: 3rem;
            padding-top: .5rem;
        }
        p{
            color: var(--light-color);
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 1rem 0;
            text-align: justify;
        }

    }

}
/* end about content */

/* start gallary section about */

.gallery .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
    margin: 5rem;
    .box{
        height: 25rem;
        overflow: hidden;
        position: relative;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &:hover img{
            transform: scale(1.2);
        }

        &:hover .icons{
            bottom: 0;
        }
        .icons{
            text-align: center;
            background: rgba(0, 0, 0, .7);
            padding: 1.5rem 0;
            position: absolute;
            left: 0; right: 0; bottom: -6rem;
            z-index: 10;

            a{
                font-size: 2.5rem;
                color: var(--white);
                margin: 0 1.5rem;

                &:hover{
                    color: var(--green);
                }
            }
        }
    }
}

/* end gallary section about */


/* footer section start..... */
.footer
{
    background: var(--light-bg);

    .box-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
        /*  @include grid(25rem); */
        .box{

            h3{
                font-size: 2.2rem;
                color: var(--black);
                padding: 1rem 0;
            }

            p{
                font-size: 1.5rem;
                color: var(--light-color);
                padding-bottom: .5rem;
            }
            a{
                font-size: 1.5rem;
                color: var(--light-color);
                padding: 1rem 0;
                display: block;

                &:hover{
                    color: var(--green);
                    i{
                        padding-right: 1.5rem;
                    }
                }
            }
            i{
                padding-right: .5rem;
                color:var(--green) ;
            }
        }
        /* this is email */
        form input[type="email"]{
            width: 100%;
            padding: 1rem 1.3rem;
            font-size: 1.4rem;
            color: var(--black);
            margin: 1rem 0;
            text-transform: none;
        }
        /* payment filed  */
        .payment{
            width: 100%;
            margin-top: 2rem;
        }
    }
}
/* this id copy right start */
.credit{
    text-align: center;
    background: var(--green);
    color: var(--white);
    font-size: 2rem;
}

/* media Query  start*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
    .home #next-slide,
    .home #prev-slide{
        transform: translateY(0);
        top: 88%;
    }
    .home #prev-slide{
        left: auto;
        right: 8rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header{
        .search-form{
            width: 100%;
            right: 0;
            border-radius: 0;

            &.active{
                top: 99%;
                border-bottom: var(--border);
            }
        }
        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        a{
            margin: 1.5rem;
            padding: 1.5rem;
            background: var(--light-bg);
            font-size: 2rem;
            display: block;
            border-radius: .5rem;

        }
        }
        
    }
}

@media (max-width:450px){
    html{
        font-size: 55%;
    }
    .home .slides-container .slide .content h3{
        font-size: 4rem;
    }
}