.container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:10vh 80vh 10vh ;
    grid-template-areas: "h h h"
                         "m m m"
                          "f f f";
}

.head{
  /* border:double #222 ; */
  box-shadow:0px 3px 2px rgba(0, 0, 0, 0.1);
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 2px 9%;
  grid-area: h;
  width: auto;
}
.logo{
  grid-area:l ;
}
.info{
  grid-area:i ;
}
.main{
  grid-area: m;
  background-color: #bac34e;
}
.footer{
  grid-area: f;
  background-color: aqua;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.icon{
  border:double red;
  /* font-size: 25px; */
  font-size: 140%;
  font-weight: bolder;
  color: #222;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
.fa-basket-shopping{
  color: #bac34e;
  padding-right: .5rem;
  cursor: pointer;
  font-size: 50%;
}
.topic{
  text-decoration: none;
  font-size: 1.7rem;
  color: #666;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  
}
.topic:hover{
  color: #bac34e;
}
nav{
  border:double violet ;
  

}
.info{
  border:double violet ;
  /* transition-duration: 0.6s; */
  transition: .2s linear;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}
.fa-magnifying-glass:hover, .fa-user:hover, .fa-cart-shopping:hover{
  color: #bac34e;
 
}
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
