.header .logo
{
    display: flex;
    justify-content: space-between;
    
}
.header .logo .nav-bar ul {
    display: flex;
    list-style: none;
}
.header .logo .nav-bar ul li{
    padding: .4rem;

}
.header .logo .nav-bar ul li a{
    text-decoration: none;
    transition: all 2s linear;
}
.header .logo .nav-bar ul li a:hover{
    color: green;
}

.header .logo .sidebar ul{
    display: flex;
    list-style: none;
}
.header .logo .sidebar ul li{
    padding: .7rem;
    font-size: 34px;
}
