*{
    background-color: bisque;
}

.praConta{
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));   
    border: black solid;
}

.praConta .para{
    /* display: grid;
    grid-template-columns: 1fr 1fr;     */
    border-color: gold;
    border-style: dotted dashed solid double ;
    color: brown;
    margin: 1rem 0.3rem; 
    padding: 0.01rem 1rem;
    /* width: 80%; */
    /* float: left; */

}

