.head {
    background-color: rgb(66, 187, 235);
    /* position: absolute; */
    /* margin-top: 0px; */
    /* margin-left: 0px; */
}

.head h1{
    text-transform: capitalize;
    color: white;
    padding: 0rem 0.5rem;
    text-align: center;
}



.container1,.container4{
    position: absolute;
}

.container2,.container5{
    position: absolute;
    left: 450PX;
}

.container3,.container6{
    position: absolute;
    left: 900PX;
}
.container4,.container5,.container6{
    position: absolute;
    top: 300px;
}
.card{
    width: 400px;
    height: 200px;    
    position: relative;    
    border: black solid;
}

 .card .image{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(172, 255, 47, 0.250);
    border: greenyellow solid;
}

 .card .para{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 150px;
    background-color: rgba(255, 166, 0, 0.250);
    border: orange solid;
}

 .card .btn{
    width: 250px;
    height: 40px;
    position: absolute;
    top: 155px;
    left: 150px;
    background-color:rgba(255, 0, 0, 0.250) ;
    border: red solid;
}

.card .btn button{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 25px;
    border-radius: 20%;
    background-color: cornflowerblue;
    cursor: pointer;
}

.shape{
    position: absolute;
    top: 10px;
}

.shape:hover{
    transform: scale(1.05);
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

.quard{
    width: 50px;
    height: 0px;    
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid blue;
}

.upTri{
    width: 0px;
    height: 0px;    
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid goldenrod;
}

.ovel{
    width: 120px;
    height: 80px;
    border-radius: 50%;
    background-color: darksalmon;
}

.parallogram{
    width: 100px;
    height: 100px;
    background-color: black;
    transform: skew(-20deg);
}

.leTri{
    width: 0px;
    height: 0px;    
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 80px solid brown;
}

/* ************** foot***************** */