body{
    background-color: bisque;
}

.container{ 
    border: black solid;
}

.container .subContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

.container .subContainerOdd{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.container .subContainer .para,
.container .subContainerOdd .para {
    border-color: rgba(189, 125, 7, 0.918);
    border-style: dashed;
    background-color: brown;
    color: cornsilk;
    margin: 1rem; 
    padding: 0.5rem;
    border-top-right-radius: 20%;
    transition: 1s;
}

.container .subContainer .image,
.container .subContainerOdd .image{
    margin: 0.5rem;   
}

.container .subContainer .image img,
.container .subContainerOdd .image img{
    border-radius: 30%;
    width: 250px;
    height: auto;
}

.container .subContainer .image img:hover,
.container .subContainerOdd .image img:hover{
    transform: scale(1.05);
}