body{
    background-color: bisque;
}

.static{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 5px;
    position: static; /*default*/
    left: 30px;
    top: 20px;
}

.relative{
    width: 0;
    height: 90px;
    /* background-color:blue; */
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 90px solid blue;
    margin: 5px;
    position: relative;
    left: 30px;
    bottom: 20px;
}

.relative p{
    color: aliceblue;
    position: relative;
    left: 30px;
    top: 20px;
}

.fixed{
    width: 150px;
    height: 100px;
    background-color: green;
    margin: 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.absolute{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid yellow;
    
    margin: 5px;
    position: relative;
}

.absolute p{
    position: absolute;
    right: 30px;
    top: 20px;
}

.stickey{
    width: 100px;
    height: 100px;
    background-color: black;
    transform: skew(-20deg);
    margin: 5px;
    position: sticky;
    top: 20px;
}