<html>
	<head>
	<title> sprinig try </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	</head>
	
	<body>
	<table class="table">  
		<thead class="table-dark">
	
		<h3>employee details</h3>
		<a th:href="@{/emp}" class="btn btn-success">Add New Employee</a>
		
   			<tr> 
				   <th>Id_no</th>  				
   				<th>Name</th>
   			</tr>
   			
  		</thead>
  		<tbody>
    <tr th:each="e:${emplo}">
	<td th:text="${e.emp_id}"></td>
  <td th:text="${e.name}"></td>   
	 </tr>

   
  		</tbody>
	</table>
	
	
	</body>
</html>
