*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
    font-family: "Open Sans", sans-serif !important;
    outline: none !important;
}

section
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-brand
{
    color: red !important;
    font-weight: 800;
    font-style: italic;
    padding: 10px;
    margin: 4px;
    font-size: 30px !important;

}
/* .navbar
{
    padding-right: 50px;
} */
.nav-item .nav-link
{
    font-weight:700;
    padding: 30px;
    margin-right: 24px;
    font-size: 20px;
    text-transform: uppercase;
}
a{
    transition: all .4s;
}

.nav-item .nav-link:hover
{
    color: red;
}




/* Modal Login */

.modal-title 
{
    text-transform: capitalize;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    margin-left:auto;
}
.modal-body
{
    margin: auto;
}
.uname , .password
{
    border: none;
    border-bottom: 2px solid red;
    padding: 10px;
    margin: 5px;
}

.loginbtn
{
    background-color: red !important;
    margin: 10px !important;
    padding: 10px !important;
}
.loginbtn:hover
{
    background-color: rgb(211, 44, 44) !important;
}

/* Slide */

.slide-1
{
    background: black url(../Images/cover1.jpg);
    
}

.slide-2
{
    background: black url(../Images/cover2.jpg);
    
}

.bg-cover
{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.carousel-control-prev , .carousel-control-next
{
    background-color: black !important;
    width: 40px !important;
    height: 70px !important;
    margin: auto !important;
}

/* About Section */

.abthd
{
   width: 100%;
   text-align: center;
   font-weight: 800;
   color: black;
   text-transform: uppercase;
   padding-bottom: 60px;
}

.about .para 
{

    min-width: 100px;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 3px solid red;
    border-radius: 30px 20px 30px 20px;
    cursor: pointer;

}
.about .para:hover
{
    border: 3px dotted red;
}

/* Contact */
.branch h3
{
    color: black;
    font-weight: 600;
}

.contact-info h3{
    color:black;
    font-weight: 600;
}

#contact
{
    padding-bottom: 0 !important;
}

/* Login Form */

.logtable tr td
{
    padding: 10px;
    margin: 10px;
    text-align: left;
    
}
.logtable input ,textarea,select
{
    padding: 4px;
    border-radius:  10px;
    border: 2px solid black;
    font-style: italic;
    font-weight: 500;
    font-family: sans-serif;
}
input[placeholder]
{
    font-size: 16px;
}
input[type="button"]
{
    padding: 5px;
    width: 100px;
}
label
{
    font-weight: bold;
    text-transform:uppercase !important;
}

/* Dropdown */

.dropdown:hover > .dropdown-menu , .dropstart:hover > .dropdown-menu
{
    display: block;
}
.dropstart:hover > .dropdown-menu
{
    position: absolute;
    top: 5px;
    right:100%;
}


/* Order Table */
.ordertable
{
    width: 100%;
    height: auto;
}

.ordertable tr th
{
    
    padding: 10px;
    
}
.ordertable tr td
{
    text-align: center;
    padding: 10px;
    
}
.checkouttable tr td
{
    text-align: left;
    padding: 10px;
    margin-right: 1000px;
    
}
.quantity
{
    text-align: center;
}
.checkoutbody
{
    margin: 0;
}
.checkouttable tr td:nth-child(1)
{

    font-weight: bold;
}