<html>
	<head>
	<title> sprinig try </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	</head>
	
	<body>
	<h3>student details</h3>
		<a th:href="@{/student/new}" class="btn btn-success">Add New Student</a>
		
	<table class="table">  
		<thead class="table-dark">
	
		
   			<tr>
   				<th>S No</th>
   				<th>Name</th>
   				<th>Last Name</th>
   				<th>email</th>
   				<th>action</th>
   			</tr>
   			
  		</thead>
  		<tbody>
    <tr th:each="stu:${students}">
    <td th:text="${stu.s_id}"></td>
  <td th:text="${stu.name}"></td>   
  <td th:text="${stu.last_name}"></td> 
  <td th:text="${stu.email}"></td> 
  <td><a th:href="@{/student/edit/{id}(id=${stu.s_id})}" class="btn btn-primary">update</a> 
  <a th:href="@{/student/delete/{id}(id=${stu.s_id})}" class="btn btn-secondary" onclick="return confirm('Are you sure you want to delete?');">delete</a> </td>
 </tr>

   
  		</tbody>
	</table>
	
	
	</body>
</html>