*{

}

body{

}

.form-control{
    width: 500px;
    border-radius: 25px;
}

.bg {
    padding: 0px;
    background-color: #3d7c5026;
    border: 1px solid rgba(78, 136, 67, 0.2);
}

.image{
    position: relative;
    top: 25%;
    left: 6%;
    width: 200px;
    height: 300px;
    background-color: #7c5b3d4f;
    border: 1px solid rgba(78, 136, 67, 0.2);
}

#src-btn{
    position: relative;
    width: 93px;
    height: 40px;
    top: 50%;
    
    border-radius: 25px;
    font-size: 16px;
    z-index: 5;
}



.btn{
    position: relative;
    width: 93px;
    height: 40px;
    top: 8px;
    right: -5px;
    margin-top: -20px;
    border-radius: 25px;
    margin-right: -39px;
    font-size: 16px;
    z-index: 5;
}

.btn-info{
    position: relative;
    width: 112px;
    height: 40px;
    top: 50%;
    background-color: #D9EEE1;
    color:black;
    border-radius: 25px;
    padding-left: 39px;
    font-size: 16px;
    z-index: 4;
    transition: 0.5s;
}

.btn-info:hover{
    background-color: #198754;
    color:#ffffff;

}

.footer{
    background-color:#000;
    color: goldenrod;
}