

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100hv;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.box{
    height: 30px;
    display: flex;
    cursor: pointer;    
}

.bg {
    padding: 10px;
    background-color: #563d7c26;
    border: 1px solid rgba(86, 61, 124, 0.2);
}