<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.datatables.net/v/bs4/dt-1.13.5/datatables.min.css" 
	rel="stylesheet">
<link rel="stylesheet"
					href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
					integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<body>
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Students Management</a>
      </li>
    </ul>
  </div>
</nav> 

	<div class = "container">
		<div class = "row">
		<h1>List Students</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/students/new}" class = "btn btn-primary btn-sm mb-3">Add Student</a>
				<a th:href = "@{/login}" class = "btn btn-danger btn-sm mb-3">Logout</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered" id="student-table">
		<thead class = "table-dark">
			<tr>
				<th>Student First Name</th>
				<th>Student Last Name</th>
				<th>Student Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each ="student: ${students1}">
			<td th:text = "${student.firstName}"></td>
			<td th:text = "${student.lastName}"></td>
			<td th:text = "${student.email}"></td>
			<td>
				<a th:href = "@{/students/edit/{id}(id=${student.id})}"
				class = "btn btn-primary">Update</a>
				
				<a th:href = "@{/students/delete/{id}(id=${student.id})}"
				class = "btn btn-danger">Delete</a>
			</td>
			</tr>
		</tbody>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/v/bs4/dt-1.13.5/datatables.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#student-table").DataTable();
		})
	</script>
</body>
</html>