*{
    background-color:bisque;
}

.container{
    /* display: grid; */
            /* columns */
    /* grid-template-columns: 30% 30% 40% ; */
           /* divide 100% of page to our requirement */
           
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr auto; */
    /* grid-template-columns: repeat(3,1fr) 2fr; */
    /* grid-template-columns: minmax(200px,1fr) 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
            /* minmax(200px---> if another grid has space for 200 then brings it
    ,1fr) */
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
    
    /* rows */
    

    /* auto-fill --> splits the page and 
    auto-fit --> */



    /* column-gap: 0.1px;
    row-gap: 0.1px; */
    /* gap: 0.5rem 0.4rem; */
    /* fraction of page 'x'fr - 'x'madangu */
    /* width:100%; */
  /* overflow:auto; */
}

.container .para {
    padding: 1rem;
    background-color: cornflowerblue;
    border-color: black;
    border-style: solid ;
    /* margin: 0.06rem; */
    padding: 0.1rem 0.4rem;
    width:200px;
  float:left;
   }

   .outerbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .2em;
   }

   .box{
    background-color: blue;
    color: burlywood;
    font-size: 2.2rem;
   }