body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h2 {
    color: royalblue;
}

a {
    color: royalblue;
}

footer {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
